<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
  This is the mypins view.

  <form class="thing-form" ng-submit="addPin()">
    <div class="form-group">
      <label>title</label>
      <input type="text" class="form-control" placeholder="title" ng-model="title">
    </div>
    <div class="form-group">
      <label>source</label>
      <input type="text" class="form-control" placeholder="http link to img" ng-model="source">
    </div>
    <button type="submit" class="btn btn-primary">Add New Pin</button>
  </form>

      <div masonry column-width="100">
        <div class="masonry-brick" ng-repeat="pin in pins">
          <img ng-src="{{ pin.source }}" fallback-src alt="A masonry brick">
          <div>
            <div class="col-sm-7 pull-left">
              <h5>{{ pin.title }}</h5>
            </div>
            <div class="col-sm-3 pull-right">
              <a class="close glyphicon glyphicon-remove-circle" href="#" ng-click="deletePin(pin)"></a>
            </div>

          </div>
        </div>
      </div>



</div>
